* {
  margin: 0;
  padding: 0;
}

body {
  margin: 3%;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; font-weight: 400 and 500*/
